@{
    ViewData["Home"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SportQuito</h1>
    <img src="~/img/IndexBack.jpg" alt="Imagen Grande" class="img-fluid" />
</div>
