@{
    ViewData["Title"] = "Instalaciones Deportivas";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SPA Center - Beauty & Spa HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 30px;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Nuestras Instalaciones</h3>
        </div>
    </div>
    <!-- Header End -->
    <!-- Service Start -->
    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Canchas de Fútbol</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Futbol6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Canchas de Basquet</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Basquet6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Canchas de Tenis</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Tenis6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Canchas de Voley</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Voley6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Gimnasia</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Gimnasia6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 py-4 my-4">
        <!-- Ajusta el margen superior e inferior aquí -->
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-white text-primary text-uppercase py-1 px-2">SportQuito</h6>
                <h1>Piscina</h1>
            </div>
        </div>
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina1.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina2.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina3.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina4.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina5.jpg" alt="">
                    </div>
                    <div class="col-lg-2">
                        <img class="img-fluid" src="~/img/Piscina6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Repite el mismo patrón para las otras secciones -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
