<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportQuito</title>
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts y Font Awesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Bootstrap y Estilos Personalizados -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/lib/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/owl.theme.default.min.css">

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light d-none d-lg-block">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small><i class="fa fa-envelope mr-2"></i>sportquito@gmail.com</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-phone-alt mr-2"></i>+593 978921263</small>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-primary px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-primary px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-primary px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-primary pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand ml-lg-3">
                <h1 class="m-0"><span style="color: black;">Sport</span><span style="color: #EE9322;">Quito</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InstalacionesDeportivas">INSTALACIONES</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BuscaTuReserva">BUSCA TU RESERVA</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AcercaDeNosotros">ACERA DE NOSOTROS</a>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-primary d-none d-lg-block">INICIAR SESIÓN</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    <div class="footer container-fluid position-relative bg-dark py-5" style="margin-top: 90px;">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6 pr-lg-5 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mb-3" style="color: white;"><span style="color: #EE9322;">Sport</span>Quito</h1>

                    </a>
                    <p>Tu rendimiento Nuestro compromiso.</p>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Av. de la Prensa, Quito 170104</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+593 978921263 / 0969674658</p>
                    <p><i class="fa fa-envelope mr-2"></i>sportquito@gmail.com / quitotuyo@gmail.com</p>
                    <div class="d-flex justify-content-start mt-4">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5">
                    <div class="row">
                        <div class="col-sm-6 mb-5">
                            <h5 class="text-white text-uppercase mb-4">Menú</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white-50 mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                                <a class="text-white-50 mb-2" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Instalaciones</a>
                                <a class="text-white-50 mb-2" href="BuscaTuReserva.html"><i class="fa fa-angle-right mr-2"></i>Busca tu reserva</a>
                                <a class="text-white-50 mb-2" href="AcercaDeNosotros.html"><i class="fa fa-angle-right mr-2"></i>Acerca de nosotros</a>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-5">
                            <h5 class="text-white text-uppercase mb-4">Instalaciones</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white-50 mb-2" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Futbol</a>
                                <a class="text-white-50 mb-2" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Basquet</a>
                                <a class="text-white-50 mb-2" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Voley</a>
                                <a class="text-white-50 mb-2" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Gimnasia</a>
                                <a class="text-white-50" href="instalaciones.html"><i class="fa fa-angle-right mr-2"></i>Piscina</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid bg-dark text-light border-top py-4" style="border-color: rgba(256, 256, 256, .15) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0 text-white">&copy; <a href="#">Your Site Name</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0 text-white">Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Footer End -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>